<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
  <link rel="stylesheet" href="/CSS/NavBar.css" >
  <link rel="stylesheet" href="/CSS/home.css">
</head>

<body>
  <!-- Navbar  -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- logo -->
      <img src="/Jee/public/images/jee background.png" alt="logo.png" class="logo"/>
      <!-- option -->
      <div class="collapse navbar-collapse nav-center">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Problems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Upload Question</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li>
            <form class="d-flex" role="search" class="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>
        </ul>
      </div>
      <!-- login register -->
      <div class="nav-right"> 
        <button>Login</button>
        <button>Register</button>
      </div>
    </div>
  </nav>



  <!-- unlock Success, One Question at a time  -->
  <!-- <div class="catchyTag">
    <h1>"Unlock Success, One Question at a Time!"</h1>
  </div>



  <div class="cards-container">
    <div class="card first">
      <img src="courses.jfif" alt="">
      <p class="card-title">Top 50-Physics</p>
      <p class="card-info">Revise your Concepts now </p>
    </div>
    <div class="card">
      <img src="courses.jfif" alt="">
      <p class="card-title">Top 50-Physics</p>
      <p class="card-info">Revise your Concepts now </p>
    </div>
    <div class="card">
      <img src="courses.jfif" alt="">
      <p class="card-title">Top 50-Physics</p>
      <p class="card-info">Revise your Concepts now </p>
    </div>
    <div class="card">
      <img src="courses.jfif" alt="">
      <p class="card-title">Top 50-Physics</p>
      <p class="card-info">Revise your Concepts now </p>
    </div>
  </div>
  <footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h2>About JeeCode</h2>
        <p>JeeCode offers a comprehensive set of problems and solutions to help students excel in their exams. Join us
          to unlock success!</p>
      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p>Email: support@jeecode.com</p>
        <p>Phone: +123 456 7890</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2023 JeeCode, All rights reserved.</p>
    </div>
  </footer> -->
</body>

</html>